<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="">Get your work done</h2>
        <h3 class="oe_slogan">Organize your tasks with notes and to-do lists</h3>
        <div class="col-md-12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="note_sc_00.png">
            </div>
        </div>
    </div>
</section>

<section class="container oe_dark">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="">Personal to-do lists that boost productivity</h2>
        <h3 class="oe_slogan">Achieve your goals and objectives easier than ever</h3>
        <div class="col-md-6">
            <p class="oe_mt32 text-justify">
            Get organized with efficient to-do lists and notes. From personal tasks to collaborative meeting minutes, increase the productivity of your employees by giving them the right tools to prioritize their work, share their ideas and collaborate on documents.
            </p>
        </div>
        <div class="col-md-6">
            <img class="oe_picture oe_screenshot" src="note_sc_01.png">
        </div>
    </div>
</section>

<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="">Better manage your tasks and projects</h2>
        <h3 class="oe_slogan">Gather ideas on the fly and collaborate with your colleagues</h3>
        <div class="col-md-6">
            <img class="oe_picture oe_screenshot" src="note_sc_02.png">
        </div>
        <div class="col-md-6">
            <p class="oe_mt32 text-justify">
            Create an online to-do list in your desired format. Quickly create to-dos, organize horizontally for the mid-term (today, this week, this month,..), prioritize vertically for the short term and group your items by assigning specific colors to specific tasks. The kanban view gives you a simple visual organization of what needs to be done and helps you to move forward to the next step.
            </p>
        </div>
    </div>
</section>

<section class="container oe_dark">
    <div class="row oe_spaced">
        <div class="col-md-4 oe_mt32">
            <h3 class="text-center">
                <b>Beat work overload</b>
            </h3>
            <img class="oe_picture oe_screenshot" src="note_sc_03a.png">
            <p class="text-justify">
            Odoo Notes helps you stay organized and focused on your work with a structured and accessible system. Break down your tasks and projects into actionable work items and achieve your goals more efficiently
            </p>
        </div>
        <div class="col-md-4 oe_mt32">
            <h3 class="text-center">
                <b>Share your ideas</b>
            </h3>
            <img class="oe_picture oe_screenshot" src="note_sc_03b.png">
            <p class="text-justify">
            Write down your ideas in pads and keep your notes at your fingertips. Attach related documents and use tags and colors to organize the information. Once your ideas are mature, share them with other users, start a discussion and collaborate by improving the specification directly in the pad.
          </p>
        </div>
        <div class="col-md-4 oe_mt32">
            <h3 class="text-center">
                <b>Collaborate in real-time</b>
            </h3>
            <img class="oe_picture oe_screenshot" src="note_sc_03c.png">
            <p class="text-justify">
            Write effective meeting minutes effortlessly thanks to our real-time collaborative tool. Attendees of your meeting will be able to contribute to the minutes, annotate, attach important documents or discuss ideas on the related thread. Comments on each user are written in a specific color, so it&apos;s simple and easy to see everyone&apos;s contribution.
          </p>
        </div>
    </div>
</section>

<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="">Customize your notes and to-do lists</h2>
        <h3 class="oe_slogan">Flectra Notes adapts to your needs and habits</h3>
        <div class="col-md-6">
            <p class="oe_mt32 text-justify">
            Odoo Notes' smart kanban view allows every user to customize their own steps in order to process their to-do lists and notes. Choose the default template or create your own steps/stages of the process.
            </p>
        </div>
        <div class="col-md-6">
            <img class="oe_picture oe_screenshot" src="note_sc_04.png">
        </div>
    </div>
</section>

<section class="container oe_dark">
    <div class="row oe_spaced">
        <h2 class="oe_slogan oe_mb32" style="">Integrate Flectra Notes into your workflow</h2>
        <div class="col-md-4">
            <span class="fa fa-lightbulb-o fa-2x pull-left"/>
            <h3>
                <b>Are you a creative?</b>
            </h3>
            <div style="margin-left: 25px;">
                <p class="oe_mt16 oe_mb16">Organize notes based on idea's maturity level:</p>
                <ul class="list-unstyled">
                    <li>- Draft ideas</li>
                    <li>- Mature ideas</li>
                    <li>- Specified to-do</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <span class="fa fa-plane fa-2x pull-left"/>
            <h3>
                <b>Are you a frequent traveler?</b>
            </h3>
            <div style="margin-left: 32px;">
                <p class="oe_mt16 oe_mb16">Organize your tasks based on the context to perform the task</p>
                <ul class="list-unstyled">
                    <li>- U.S. office</li>
                    <li>- London's office</li>
                    <li>- To review during flights</li>
                    <li>- At home</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <span class="fa fa-suitcase fa-2x pull-left"/>
            <h3>
                <b>Are you a manager?</b>
            </h3>
            <div style="margin-left: 42px;">
                <p class="oe_mt16 oe_mb16">It is super easy to resize and/or duplicate each box.</p>
                <ul class="list-unstyled">
                    <li>- To-do today</li>
                    <li>- This week</li>
                    <li>- This month</li>
                    <li>- Late</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="container oe_separator">
</section>
